<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .custom-image {
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .info {
            font-size: 18px;
        }

            .info strong {
                font-weight: 600;
            }

        .trailer {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;
        }

            .trailer iframe {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

        h2 {
            font-family: 'Georgia', serif;
            font-weight: bold;
        }

        .info {
            font-size: 18px;
            font-family: 'Times New Roman', serif; /* Font changed to Times New Roman */
        }

            .info strong {
                font-weight: 600;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="mt-4 mb-4">@Model.Name</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid custom-image">
            </div>
            <div class="col-md-8">
                <div class="info">
                    <p><strong>Movie Name:</strong> @Model.Name</p>
                    <p><strong>Movie ID:</strong> @Model.Id</p>
                    <p><strong>Rating:</strong> @Model.Rating</p>
                    <p><strong>Release Year:</strong> @Model.ReleaseYear</p>
                    <p><strong>Genre:</strong> @Model.Genre</p>
                    <p><strong>MovieDetails:</strong> @Model.MovieDetails</p>
                </div>
                <div class="mt-4 trailer">
                    <iframe src="https://www.youtube.com/embed/@Model.ytid" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
